[Unit]
Description=PLC Binary
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=5s

ExecStart=/home/debian/plc

[Install]
WantedBy=multi-user.target